<div class="mb-4">
  <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
    Title
  </label>
  <input
    required
    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    id="title"
    type="text"
    name="title"
    value="<%=article.title %>"
    placeholder="title"
  />
</div>
<div class="mb-6">
  <label class="block text-gray-700 text-sm font-bold mb-2" for="date">
    Description
  </label>

  <textarea
    id="description"
    name="description"
    rows="4"
    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
  >
<%=article.description %></textarea
  >
</div>
<div class="mb-6">
  <label class="block text-gray-700 text-sm font-bold mb-2" for="markdown">
    Markdown
  </label>
  <textarea
    id="markdown"
    name="markdown"
    rows="4"
    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
  >
<%=article.markdown %></textarea
  >
</div>
<div class="flex items-center justify-between">
  <a
    href="/"
    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    type="submit"
  >
    Cancel
  </a>
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    type="submit"
  >
    Save
  </button>
</div>
